/*  @RULES  */

/*  GLOBAL RULES  */

*:root {
    cursor: text;
}

*[title]:not([title=""]):not(a) {
    cursor: help;
}

@supports (text-decoration-style: dotted) {
    *[title]:not([title=""]):not(a) {
        text-decoration-line: underline;
        text-decoration-style: dotted;
    }
}

/*  PAGE LAYOUT  */

html {
    line-height: 18pt;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

/*  SECTIONING  */

aside, div, header, nav {
    text-align: center;
}

footer {
    text-align: right;
    -moz-text-align-last: auto;
    text-align-last: auto;
}

/*  TABLES  */

table {
    text-align: center;
}

tbody + tbody::before {
    content: "";
}

th {
    text-decoration: underline;
}

/*  LISTS  */

ul, ol, dl {
    text-align: left;
    -moz-text-align-last: auto;
    text-align-last: auto;
}

ul {
    list-style-type: circle;
}

nav ul, nav li ul, nav li li ul, nav li li li ul, nav li li li li ul {
    list-style-type: none;
}

li ul {
    list-style-type: square;
}

li li ul {
    list-style-type: disc;
}

li li li ul {
    list-style-type: circle;
}

li li li li ul {
    list-style-type: square;
}

ol, nav li ol {
    list-style-type: upper-roman;
}

li ol, nav ol {
    list-style-type: decimal-leading-zero;
}

li li ol {
    list-style-type: lower-latin;
}

li li li ol {
    list-style-type: lower-greek;
}

li li li li ol {
    list-style-type: decimal;
}

dt + dt::before {
    content: ", "
}

dd::before {
    white-space: pre-wrap;
    content: " : ";
}

dd + dd::before {
    content: "″ : ";
}

dd::after {
    content: "";
}

/*  BLOCK ELEMENTS  */

blockquote {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

blockquote::before {
    line-height: 36pt;
    text-align: center;
    content: open-quote;
}

blockquote::after {
    line-height: 36pt;
    text-align: center;
    content: close-quote;
}

blockquote blockquote {
    text-align: left;
    -moz-text-align-last: auto;
    text-align-last: auto;
}

blockquote blockquote::before, blockquote blockquote::after {
    content: none;
}

figcaption {
    line-height: 14.4pt;
    text-align: right;
    -moz-text-align-last: auto;
    text-align-last: auto;
}

h1 {
    line-height: 36pt;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

h2 {
    line-height: 27pt;
    text-align: center;
    text-decoration: underline;
    text-overflow: ellipsis;
    white-space: nowrap;
}

h3 {
    line-height: 18pt;
    text-align: left;
    -moz-text-align-last: auto;
    text-align-last: auto;
}

p {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

dd p, blockquote blockquote p, footer p {
    text-align: inherit;
    -moz-text-align-last: inherit;
    text-align-last: inherit;
}

dd p, blockquote blockquote p + p {
    text-indent: 30pt;
}

/*  PHRASING  */

a[href] {
    text-decoration: underline;
    text-decoration-style: dashed;
    cursor: vertical-text;
}

body > nav > a[href], body > header > nav > a[href] {
    line-height: 15pt;
    text-decoration: none;
}

h1 > a[href] {
    text-decoration: none;
}

code::before, code::after {
    content: "'";
}

del {
    text-decoration: line-through;
}

em::before, em::after {
    content: "~";
}

i[lang]::before {
    content: "«";
}

i[lang]::after {
    content: "»";
}

ins {
    text-decoration: underline;
}

s {
    text-decoration: line-through;
}

small {
    line-height: inherit;
}

sub, sup {
    line-height: 1;
}

sup {
    text-transform: uppercase;
}

u {
    text-decoration: none;
}
